<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>about.fakenews</title>
	<style>
		* {
		  box-sizing: border-box;
		}
		
		/* Create two equal columns that floats next to each other */
		.column {
		  float: left;
		  width: 50%;
		  padding: 10px;
		  height: 300px; /* Should be removed. Only for demonstration */
		}
		
		/* Clear floats after the columns */
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}
		h1{text-align: left;margin-left: 30px; font-size:60px;}
		h2{text-align: center;}
		h2{color: black;}
		</style>
</head>
<body>
<h1><b> About us</b></h1>

<hr>
	<div class="row">
		<div class="column" style="background-color:white;height: 300px; width: 600px;box-sizing: border-box; margin-left: 30px;">
		  <h2>TECHBYTES</h2>
		  <p><b> <hr> 
			We are young team who belives in that technology can give us a better way to identify the reality. As we all know that news is that part of communication that keeps us informed about changing events, issues, and characters in the world outside. When a fake news is spread then it affects on society,education,public,social media,etc. <br>
			That's why our mission is to bring a software that recognize the difference between fake news and real news. So that you can get real time information in a very faster way. 
			We believe our fake news detection system will give you a better experience.
			<hr>
		</b></p>
		</div><div class="column" style="background-color:white; float: right;">
		  <img src="https://images.idgesg.net/images/idge/imported/imageapi/2022/02/03/21/programming_coding_elements_lines_of_code_development_developers_teamwork_by_dean_mitchell_gettyimages-1055056840_2400x1600-100795791-large-100918079-large.jpg?auto=webp&quality=85,70" width="420px" alt="teamwork">
		</div>
	  </div>


<hr>



<div><h3>Use Cases :</h3>
	<p>Social media platforms: By implementing a fake news detection model, social media platforms can quickly identify and remove misleading content to reduce potential harm.</p>
	
	<p>News organization: To verify the accuracy of information before publishing to prevent the spread of false information.</p>
	
	<p>Government agencies: To monitor social media and news outlets to provide public safety and natural security.</p>
	
	<p>Educational institutions: To teach critical thinking and media literacy skills to students. They can distinguish between credible and incredible sources of information.</p>
	
	<p>Mitigation: By collecting data from the users, the model will send a notification to the officials about whom the fake news is being spread and request them to confirm the correctness of the news.</p></div>

	<!-- https://www.kaggle.com/code/therealsampat/fake-news-detection -->
	
<h3>Dependencies / Show stopper: </h3>
<p>Data: The model depends on the quality and quantity of data. A large and diverse dataset is required.</p>
<p>NLP Tools: For pre-processing and extracting relevant features of data such as frequency, sentiment, and topic modeling.</p>
<p>ML Algorithm: To learn from data and make predictions, the model may use logistic regression, decision trees, or neural networks.</p>

<p>Limited or biased training data: If training data used to train the model is biased or limited then model performance may suffer.</p>
<p>Rapidly changing news landscape: If the model is not updated frequently or cannot adapt to new types of fake news, it may become less effective over time.</p>
<p>Multilingual Input: Due to multilingual input Model may generate inaccurate results.</p>
<hr>
<img src="https://miro.medium.com/max/1262/1*LBn_F2ALsKUAKK6vbQbJuw.png" alt="fake news" width="620px" style="display: block; margin-left: auto; margin-right: auto;"> <hr>
<footer>
	<p>
		copyright &copy2023
	</p>
</footer>
</body>
</html>